$textColor: #0e5d9d;

.container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mainLogo{
  padding:20px;
  width:200px;
  @media screen and (max-width: 640px) {
    width:120px;
  }
}
.wrap{
  min-width:550px;
  max-width:750px;

  padding:40px;
  background:#eef0f3;
  margin:0 auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom:30px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0px 5px 15px rgba(black,0.2);
  @media screen and (max-width:540px){
    min-width:0px;
    padding:5px;
    width:100%;
  }
  &:before {
    content: " ";
    position: absolute;
    width:70%;
    height:40px;
    bottom:0px;
    left:30px;
    box-shadow: 0px 30px 40px rgba(black,0.5);
    transform-origin: left bottom;
    transform: rotate(-6deg);
    z-index:-1;
  }
  &:after {
    content: " ";
    position: absolute;
    width:70%;
    height:40px;
    bottom:0px;
    right:30px;
    // background:rgba(black,0.4);
    box-shadow: 0px 30px 40px rgba(black,0.5);
    transform-origin: right bottom;
    transform: rotate(6deg);
    z-index:-1;
  }
}