@import './_global.scss';
  .item {
    // width:33.333333333%;
    display: flex;
    padding:5px;
    box-sizing: border-box;
    justify-content: center;
    $borderSize: 5px;
    cursor:pointer;
    
    img{
      transition: linear all 0.11s;
      border:$borderSize white solid;
      opacity: 0.8;
    }
    &:hover, &.selected {
      img {
        opacity: 1;
        border:$borderSize $textColor solid;
      }
    }
  }