

.btn {
	width:280px;
	padding:5px 0 5px 5px;
	margin:5px 0;
	font-weight: light;
	transition: .11s ease-in-out all;
	display:flex;
	align-items: center;
	justify-content: center;
	box-shadow:  0px 1.5px 3px rgba(black,0.3);
	.wrap {
		display:flex;
		align-items: center;
		justify-content: center;
	}
}

.google-btn {
	
	line-height: 1;
	background:#bd2f32;
	cursor:pointer;
	color:white;
	border-radius:3px;
	border:darken(#bd2f32,20) 1px solid;
	
	i {
		&:before{
				font-size:28px;
		}
		margin-right:5px;
	}
	&:hover{
		background: lighten(#bd2f32,10);
	}
}

.facebookBtn {
	text-shadow: 0px 1px 2px rgba(black,0.5);
	line-height: 1;
	font-size:28px;
	font-weight: lighter;
	background:#324bb0;
	cursor:pointer;
	color:white;
	margin:0 10px;
	border-radius:3px;
	border:darken(#324bb0,10) 1px solid;
	padding:10px 5px;
	@media screen and (max-width:640px){
		font-size:18px;
		width:140px;
		margin:5px auto;
	}
	i {
    margin-right:5px;
		&:before{
				font-size:28px;
		}	
	}
	&:hover{
		transform: scale(1.1);
	}
}


.gradient, .gradient.selected {
background: rgba(89,144,188,1);
background: -moz-linear-gradient(top, rgba(89,144,188,1) 0%, rgba(14,93,157,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(89,144,188,1)), color-stop(100%, rgba(14,93,157,1)));
background: -webkit-linear-gradient(top, rgba(89,144,188,1) 0%, rgba(14,93,157,1) 100%);
background: -o-linear-gradient(top, rgba(89,144,188,1) 0%, rgba(14,93,157,1) 100%);
background: -ms-linear-gradient(top, rgba(89,144,188,1) 0%, rgba(14,93,157,1) 100%);
background: linear-gradient(to bottom, rgba(89,144,188,1) 0%, rgba(14,93,157,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5990bc', endColorstr='#0e5d9d', GradientType=0 );


}