.container{
  font-family: 'quarklight','thaisans_neueultra_light', 'Thonburi', "Helvetica Neue", sans-serif;
  max-width:1024px;
  min-height: 100vh;
  margin:0 auto;
  padding:5px;
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width:640px){
    max-width:100%;
  }
}

.loadingDialogContainer {
  position: fixed;
  width:100%;
  top:0;
  left:0;
  height:100%;
  background:rgba(black,0.8);
  z-index: 9999;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  pointer-events: none;
  opacity: 0;
  &.active{
    pointer-events: all;
    opacity: 1;
  }
  .loadingDialogWrap {
    margin:10px;
  }
}
