@import './_global.scss';

.controlWrap{
  display:flex;
  flex-direction: row;
  @media screen and (max-width: 640px) { 
    flex-direction: row;
    width:100%;
    box-sizing: border-box;
    padding:10px;
    div{
      margin:auto 5px;
      font-size:18px;
    }
  }

}
.resultCanvas{
  width:100%;
}

.resultFrame {
  position:relative;
  z-index:2;
  canvas {
    z-index:5;
    position:relative;
  }
  &:before {
    content: " ";
    position: absolute;
    width:70%;
    height:40px;
    bottom:50px;
    left:30px;
    box-shadow: 0px 60px 20px rgba(black,0.5);
    transform-origin: left bottom;
    transform: rotate(-6deg);
    z-index:1;
  }
  &:after {
    content: " ";
    position: absolute;
    width:70%;
    height:40px;
    bottom:50px;
    right:30px;
    // background:rgba(black,0.4);
    box-shadow: 0px 60px 20px rgba(black,0.5);
    transform-origin: right bottom;
    transform: rotate(6deg);
    z-index:1;
  }
}