.bannerContainer {
  display:flex;
  padding:30px;
  // background:url('../assets/images/Welcome-bg.png');
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width:540px){
    display:block;
    img{
      width:100% !important;
    }
  }
  img{
    &.athele {
      width:60%;
    }
    &.logo {
      width:40%;
      box-sizing: border-box;
    }
  }
}